<div class="historyWrapper" *ngIf="historyData.length">
    <div class="user-wrapper">
        <div class="user-header">
            <img src="assets/images/arrow-left.svg" alt="">
            <div class="avtar">J</div>
            <div class="user-info">
                <div class="user-name">John Doe</div>
                <div class="user-mobile">+91 98765 12340</div>
            </div>
        </div>
    </div>
    <div *ngFor="let dateGroup of historyData" class="dateGroup">
        <div class="date-header">{{ dateGroup.date }}</div>
        <div *ngFor="let item of dateGroup.items" class="item" [ngClass]="{'left': item.direction === 2, 'right': item.direction === 1}">
            <div class="box">
                <div class="amount-wrapper">
                    <div class="amount">&#8377;<span>{{ item.amount }}</span></div>
                    <div class="description">
                        <span class="payment" *ngIf="item.type === 1 && item.direction === 1"><img src="assets/images/check.svg" alt="">You Paid</span>
                        <span class="request" *ngIf="item.type === 2 && item.direction === 1"><img src="assets/images/clock.svg" alt="">You Requested</span>
                        <span class="payment" *ngIf="item.type === 1 && item.direction === 2"><img src="assets/images/check.svg" alt="">You Received</span>
                        <span class="request" *ngIf="item.type === 2 && item.direction === 2"><img src="assets/images/clock.svg" alt="">Request Received</span>
                    </div>
                </div>
                <div class="bottom">
                    <div>
                        <p class="trans-id" *ngIf="item.type === 1">Transaction ID: <span>{{ item.id }}</span></p>
                        <div class="btn-wrapper" *ngIf="item.type === 2">
                            <button class="btn-primary" type="button" *ngIf="item.type === 2 && item.direction === 2">Pay</button>
                            <button class="btn-secondary" type="button" *ngIf="item.type === 2 && item.direction === 2">Decline</button>
                            <button class="btn-secondary" type="button" *ngIf="item.type === 2 && item.direction === 1">Cancel</button>
                        </div>
                    </div>
                    <button class="btn-detail"><img src="assets/images/arrow-right.svg" alt=""></button>
                </div>
            </div>
            <div class="date-time">{{ item.startDate | date:'dd MMM yyyy, hh:mm a' }}</div>
        </div>
    </div>
</div>